@font-face {
  font-family: "lato-light";
  src: url("/css/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "lato-bold";
  src: url("/css/fonts/Lato-Bold.ttf");
}

.nav-holder {
  font-family: caveat-regular;
  height: 52px;
  width: 600px;
  z-index: 99;
  display: flex;
  justify-content: left;
  font-family: "lato-bold";
}

a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  color: rgb(27, 121, 222);
}
